.maindiv{
    height: 500px;
    width: 500px;
    border: solid 2px rgb(0, 255, 55);
    margin-left: 200px;
    text-align: center;
    font-size: 25px;
    background-color: aqua;
    height: fit-content;
}

.divfirst{
    height: 500px;
    width: 500px;
    border: solid 2px blue;
    margin-left: 200px;
    text-align: right;
    font-size: 25px;
    background-color: aqua;
    float: left;
}

.divsecond{
    height: 500px;
    width: 500px;
    border: solid 2px blue;
    margin-left: 200px;
    text-align: right;
    font-size: 25px;
    background-color: aqua;
    float: right;}
   
   
